[Unit]
Description=Run Adsecute PostgreSQL Application Core Backup Daily

[Timer]
OnCalendar=03:25
Persistent=true
Unit=adsecute-db-core-backup.service

[Install]
WantedBy=timers.target
